

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">选修课程</h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-hover" >
            <thead>

            <tr>
              <th>
                <input type="checkbox" name="call" id="hdr" onchange="chbckick();" /><label for="hdr">全选</label>
              </th>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>学位课</th>
              <th>课时/学分</th>
              <th>限选</th>
              <th>已选</th>
              <th>课程属性</th>
              <th>授课方式</th>
              <th>考试方式</th>
              <th>主讲教师</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>


            <% @result.records.each do |course| %>
                <% i = rand(99999) + rand(3333445)%>
                <tr>
                  <td>
                    <input type="checkbox" name="cids" value="<%=course.id%>" onchange="childchange(this);"/>

                  </td>
                  <td><%= course.course_code %></td>
                  <td><a href="showCourseInfo?cid=<%=course.id %>"><%= course.name %></a></td>
                  <td>
                    <input type="checkbox" name="master" id="isMas<%=i%>"  />
                  </td>
                  <td><%= course.credit %></td>
                  <td><%= course.limit_num %></td>
                  <td>
                    <%if !course.student_num%>
                    <%= 0%>
                    <%else%>
                    <%=course.student_num%>
                    <%end%>
                  </td>
                  <td><%= course.course_type %></td>
                  <td><%= course.teaching_type %></td>
                  <td><%= course.exam_type %></td>
                  <td><%= course.teacher.name %></td>

                  <td>

                     <input id="addCC" type="button" onclick="addCourse('select',<%=course.id%>,'isMas<%=i%>');" value="选中课程" class= 'btn btn-xs btn-info'/>

                  </td>



                </tr>
            <% end %>
            </tbody>
          </table>

          <ul class="pagination" style="float: right;">

                    <li class="page-item"><a class="page-link" href="list?cids=<%=@result.cids ? @result.cids : '' %>&curpage=<%=(@result.currentPage-1)<=0 ? 1 : (@result.currentPage-1) %>" >Previous </a></li>

                    <%for i in @result.beginPageIndex..@result.eendPageIndex %>
                    <li class="page-item"><a class="page-link" href="list?cids=<%=@result.cids ? @result.cids : '' %>&curpage=<%=i%>"><%=i%></a></li>

                    <%end%>
                    <li class="page-item">
                     <a class="page-link" href="list?cids=<%=@result.cids ? @result.cids : '' %>&curpage=<%= (@result.currentPage+1) >= @result.pageCount ? @result.pageCount : (@result.currentPage+1) %>">Next</a>
                    </li>
            </ul>

           <% if student_logged_in? %>
          <input id="addCC" type="button" onclick="opCheckCourse('selectCourseByCids');" value="增加选中课程" style="margin-top: 25px;" class="btn btn-xs btn-info"/>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../assets/javascripts/batchOpCourse.js"></script>
